/* WeatherComponent.css */
.weather-info-container {
    position: absolute;
    left: 370px; /* Расположение от левого края */
    top: 20%; /* Расположение от верхнего края */
    transform: translateY(-50%); /* Центрирование по вертикали */
    width: 27%; /* Ширина контейнера для информации о погоде */
    padding: 20px; /* Отступы вокруг контейнера */
    box-sizing: border-box; /* Учитываем padding внутри ширины */
    background-color: rgba(137, 68, 239, 0.15); /* Цвет фона контейнера */
    border-radius: 5px; /* Закругляем углы */
    font-size: 1.5em;
}
