body {
    background-color: rgba(10, 7, 7, 0.88);
    color: #ffffff;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #00FF00;
}

.drawer {
    background-color: rgba(30, 33, 38, 0.6);
}

.close-button {
    color: #ffffff;
}

.user-profile {
    color: #ffffff;
}

.settings {
    color: #ffffff;
}
