body {
    background-color: #ffffff;
    color: #000000;
}

button {
    background-color: #4CAF50;
    color: rgba(0, 0, 0, 0.93);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #4CAF50;
}

.drawer {
    background-color: rgba(159, 59, 187, 0.64);
}

.close-button {
    color: #000000;
}

.user-profile {
    color: #000000;
}

.settings {
    color: #000000;
}
