.main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background: rgba(5, 199, 161, 0); /* Задаем начальный цвет фона */
    background: radial-gradient(
            circle,
            rgb(0, 76, 117) 0%, /* Цвет фона в центре градиента */
            rgb(151, 234, 215) 35%, /* Цвет фона в середине градиента */ rgb(241, 157, 232) 100%
    );/* Цвет фона на краях градиента */
}

.search-component-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.weather-component-container {
    margin-left: auto;
    margin-right: 20px;
}

.burger-menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 999;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: 0.4s;
}

.burger-menu-button.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-menu-button.active .bar:nth-child(2) {
    opacity: 0;
}

.burger-menu-button.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}
