.SearchComponent {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    border: 2px solid #7bcdef;
    background-color: #7bcdef;
    padding: 10px; /* Отступы вокруг всего содержимого */
}

.SearchComponent input {
    padding: 8px 16px;
    border-radius: 5px 0 0 5px;
    flex: 1;
    background-color: #7bcdef;
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0);
}

.SearchComponent button {
    padding: 8px 16px;
    border-radius: 0 5px 5px 0;
    flex: 1;
    background-color: #7bcdef;
    color: #fff;
    cursor: pointer;
}
