.SearchComponent {
    display: flex;
    align-items: center;
    border: 2px solid #7bcdef;
    background-color: #7bcdef;
}

.SearchComponent input {
    padding: 8px 16px;
    border-radius: 5px 0 0 5px;
    flex: 1;
    background-color: #7bcdef;
    cursor: pointer;
    border-color: rgba(255, 255, 255, 0);
}

.SearchComponent button {
    padding: 8px 16px;
    border-radius: 0 5px 5px 0;
    flex: 1;
    background-color: #7bcdef;
    color: #fff;
    cursor: pointer;
}

